<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Language Recognition</title>




</head>
<body>
<header class="headerpp">
        <h1>Wellbeing At All Ages</h1>
        <p>WB66-PS20</p>
    </header>
<div class="header">
    <h1>
        Sign Language Recognition
    </h1>
</div>
<center>
    <img src="{{ url_for('video_feed') }}">
</center>

<style>
    .header{
    text-align:center;
    font-family:san-serif;

    }
    body{
    background-color: white;
    }
</style>


</body>
</html>